.benefits-section {
    position: relative;
    background: url('../img/uzorlist.png') left top 57% no-repeat;

    &:before {
        content: url('../img/malina.png');
        position: absolute;
        bottom: -80px;
        left: 0;
    }
}