.hero {
    background: url("../img/uzor.png") right bottom / 39% no-repeat;
    background-color: $blue;
    color: #fff;
    position: relative;

    &:before {
        position: absolute;
        bottom: -40px;
        left: 2%;
        content: url('../img/list3.png');
    }

    &:after {
        background: url("../img/berry\ 1.png"), ("../img/list\ 1.png"), ("../img/list\ 2.png"), ("../img/berry\ 2.png");
        position: absolute;
        bottom: -40px;
        right: 0;
    }
}



.hero__title-section {
    width: 46%;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
    background: url('../img//batonchiki.png') right center / 50% auto no-repeat, 
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.hero__title-desc {
    font-size: 21px;
    margin-bottom: 28px;
    padding-right: 10%;
}
