$containerWidth: 940px; 
$basefont: 18px;


//breakpoints
$tablets: 768px;
$phones: 480px;


//colors
$blue: #61c4d9;
$darkGreen: #0b4d3c;

//z-indexes
$z-fixed-menu: 100;

@import "./media";

//normalize
@import "./normalize";

//setups
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;0,700;1,300;1,400&display=swap";
@import "./layout";

// components
@import "./hero";
@import "./header";
@import "./features";
@import "./feature";
@import "./btn";
@import "./section";
@import "./headline";
@import "./benefits";
@import "./benefit";
@import "./benefits-section";
@import "./reviews";
@import "./interactive-avatar";
@import "./form";
@import "./radio";
@import "./fixed-menu";
@import "./order-section";
@import "./hamburger";
@import "./map";
@import "./socials";
@import "./media";
@import "./footer";
@import "./contacts";
@import "./cost";
@import "./gear";
@import "./slider";
@import "./specifications";
@import "./accordion";
@import "./sizes";
@import "./team";
@import "./modal";
@import "./fullmenu";
@import "./player";




