.order-section {
    background: url("../img/fon.png") no-repeat;

    &:before {
        position: absolute;
        bottom: rem(69px);
        left: 2%;
        content: url('../img/berry4.png');
    }

    &::after{
        content: '';
        display: flex;
        width: rem(135px);
        height: rem(188px);
        position: absolute;
        bottom: rem(58px);
        right: rem(10px);
        background: url('../img/list4.png') no-repeat;
      }
}