.sizes {
    height: 100%;
  
    &__list {
      display: flex;
      list-style: none;
      align-items: flex-end;
      justify-content: flex-end;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  
    &__item {
      position: relative;
      min-width: 90px;
      height: 100%;
      cursor: pointer;
      display: flex;
  
      &_silver {
        background: url('../img/45.png') center center /cover no-repeat;;
      }
  
      &_black {
        background: url('../img/fon5.png') center center /cover no-repeat;
      }
  
      &_red {
        background: url('../img/fon4.png') center center /cover no-repeat;
      }
  
      &-title {
        position: relative;
        min-width: 80px;
        height: 100%;
  
        & span {
          font-weight: bold;
          font-size: 36px;
          color: #FFFFFF;
          position: absolute;
          bottom: 0;
          left: 0;
          transform: rotateZ(-90deg);
          transform-origin: 0 0;
          line-height: 80px;
          white-space: nowrap;
        }
      }
  
      &-description {
        background: rgba(51, 53, 55, .9);
        max-width: 0;
        opacity: 0;
        visibility: hidden;
        transition: all .5s ease-in-out;

        @include phones {
          flex: 1;
        }
  
        &_active {
          max-width: 524px;
          opacity: 1;
          visibility: visible;

          @include phones {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            

          }
        }
  
        & p {
          padding: 31px 38px;
          font-size: 16px;
          color: #FFFFFF;
          min-width: 524px;

          @include tablets {
            min-width: 480px;
          }
        }
      }
  
  
    }
  }

  