.specifications {
    margin-top: 27px;
  
    &__container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  
    &__title {
      font-size: 16px;
      color: #666666;
    }
  
    &__value {
      font-weight: bold;
      font-size: 18px;
      color: #000000;
    }
  
    &__weight {
      margin-left: 86px;
    }
  
  }